.form-container{
  justify-content:space-between;
  height: 650px;

  &--content{
    height: 360px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.input-container{
  gap: 4px;
}