.quick-actions-container{
  @include flexbox();
  @include flex-direction(row);
  justify-content: space-between;
  gap: 16px;
}

.quick-actions{
  @include flexbox();
  @include flex-direction(row);

  background-color: var(--primary-color);
  max-width: 124px;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  width: 124px;

  &:hover{
    background-color: #425597;
  }

  &--text{
    color: #ffffff;
    max-width: 74px;
    min-width: 74px;
    font-size: 12px;
    text-align: left;
  }

  &--icon{
    fill: white;
    height: 20px;
  }
}