.back-menu{
  @include flexbox();
  @include flex-direction(column);

  width: 260px;
  margin-left: 20px;
}

.user-info{
  @include flexbox();
  @include flex-direction(column);
  margin-top: 18px;
  margin-bottom: 42px;

  &--name{
    font-size: 16px;
    font-weight: 700;
  }

  &--disconnect{
    font-size: 12px;
    color: #6A6A6A;
    font-weight: 700;
  }
}

.back-menu-navigation-container{
  @include flexbox();
  @include flex-direction(column);

  justify-content: space-between;
  height: 620px;
  gap: 30px;
}

.back-menu-navigation {
  @include flexbox();
  @include flex-direction(column);
  gap: 10px;

  .menu-link-container{
    width: fit-content;
    border-left: 6px solid transparent;

    .menu-link {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      margin-left: 60px;
    }

    &:active{
      border-left: 6px solid #000;
    }

    &:hover{
      border-left: 6px solid #425597;
    }
  }
}

.back-bottom-menu-navigation{
  @include flexbox();
  @include flex-direction(column);
  gap: 20px;
}

.site-state{
  @include flexbox();
  @include flex-direction(column);
  gap: 12px;
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 10px 1px 1px 1px;
  border-radius: 6px;
  min-height: 110px;

  &--infos:first-of-type{
    margin-top: 6px;
  }

  &--infos{
    margin-left: 4px;
    font-size: 12px;
    font-weight: 700;
  }

}

.section-delimiter{
@include flexbox();
@include flex-direction(column);


  &--title{
    font-size: 12px;
    font-weight: 700;
  }

  &--hr{
    height: 1px;
    background-color: var(--primary-color);
    margin-top: 4px;
    margin-bottom: 8px;
  }
}