$primary-color: #0D298C;
$light-grey: #F4F4F4;
$very-light-grey: #FAFAFA;

$blue-link: #2089EA;

$red-error: #8C0D0D;
$green-success: #0D8C21;

:root{
    --primary-color: #{ $primary-color };
    --light-grey: #{ $light-grey };
    --very-light-grey: #{ $very-light-grey };
    --blue-link: #{ $blue-link };
    --red-error: #{ $red-error };
    --green-success: #{ $green-success };
}